/.vs/*
/NESTool/bin/*
/NESTool/obj/*
/NESTool/NESTool.csproj.user
/ArchitectureLibrary/bin/*
/ArchitectureLibrary/obj/*
/ColorPalette/bin/*
/PaletteQuantizerLibrary/obj/*
/PaletteQuantizerLibrary/bin/*
/ColorPalette/obj/*
/ColorPalette/bin/*
